.editButton {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.deleteBtn {
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 350px;

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .primaryText {
      color: #101828;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }

    .secondaryText {
      color: #475467;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .bottomBtns {
    display: flex;
    gap: 12px;

    .cancelBtn {
      padding: 10px 16px;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #fff;
      box-shadow:
        0px 0px 0px 1px rgba(16, 24, 40, 0.18) inset,
        0px -2px 0px 0px rgba(16, 24, 40, 0.05) inset,
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      width: 170px;
      height: 44px;
      color: #344054;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      cursor: pointer;
    }

    .deleteBtn {
      padding: 10px 16px;
      border-radius: 8px;
      border: 2px solid rgba(255, 255, 255, 0.12);
      background: #d92d20;
      box-shadow:
        0px 0px 0px 1px rgba(16, 24, 40, 0.18) inset,
        0px -2px 0px 0px rgba(16, 24, 40, 0.05) inset,
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      width: 170px;
      height: 44px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      cursor: pointer;
    }
  }
}

.status {
  border-radius: 9999px;
  width: 63px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  color: #344054;
  border: 1px solid #e4e7ec;
  background-color: #f9fafb;

  &.active {
    border: 1px solid #abefc6;
    background-color: #ecfdf3;
    color: #067647;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #667085;
    border: 1px solid #e4e7ec;

    &.active {
      border: 1px solid #abefc6;
      background: #ecfdf3;
    }
  }
}
