.container {
  border-radius: 9999px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px 2px 6px;

  &.billed {
    border: 1px solid #abefc6;
    background: #ecfdf3;
    width: 58px;
  }

  &.booked {
    border: 1px solid #e4e7ec;
    background: #f9fafb;
    width: 74px;
  }

  &.cancelled {
    border: 1px solid #fecdca;
    background: #fef3f2;
    width: 88px;
  }

  &.completed {
    border: 1px solid #abefc6;
    background: #ecfdf3;
    width: 90px;
  }

  &.on-going {
    border: 1px solid #b2ddff;
    background: #eff8ff;
    width: 81px;
  }

  &.dispatched {
    border: 1px solid #b2ddff;
    background: #eff8ff;
    width: 92px;
  }

  &.allotted {
    border: 1px solid #fedf89;
    background: #fffaeb;
    width: 72px;
  }

  &.paid {
    border: 1px solid #abefc6;
    background: #ecfdf3;
    width: 55px;
  }

  &.generated {
    border: 1px solid #b2ddff;
    background: #eff8ff;
    width: 90px;
  }

  &.confirmed {
    border: 1px solid #abefc6;
    background: #ecfdf3;
    width: 87px;
  }

  .dot {
    width: 6px;
    height: 6px;
    margin: 1px;
    border-radius: 9999px;

    &.billed {
      background-color: #17b26a;
    }
    &.booked {
      background-color: #667085;
    }
    &.cancelled {
      background-color: #f04438;
    }
    &.completed {
      background-color: #17b26a;
    }
    &.on-going {
      background-color: #2e90fa;
    }
    &.dispatched {
      background-color: #2e90fa;
    }
    &.allotted {
      background-color: #f79009;
    }
    &.paid {
      background-color: #17b26a;
    }
    &.generated {
      background-color: #2e90fa;
    }
    &.confirmed {
      background-color: #17b26a;
    }
  }

  .text {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    &.billed {
      color: #067647;
    }
    &.booked {
      color: #344054;
    }
    &.cancelled {
      color: #b42318;
    }
    &.completed {
      color: #067647;
    }
    &.on-going {
      color: #175cd3;
    }
    &.dispatched {
      color: #2e90fa;
    }
    &.allotted {
      color: #b54708;
    }
    &.paid {
      color: #067647;
    }
    &.generated {
      color: #175cd3;
    }
    &.confirmed {
      color: #067647;
    }
  }
}
