.container {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow:
    0px 0px 0px 1px rgba(16, 24, 40, 0.18) inset,
    0px -2px 0px 0px rgba(16, 24, 40, 0.05) inset,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 6px 14px;
  cursor: pointer;
  height: 32px;

  .text {
    color: #344054;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}
