.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  .formHeader {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header {
      color: #101828;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }

    .primaryText {
      color: #475467;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
