.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 24px 0 24px;
    height: 90%;

    .formHeader {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .header {
        color: #101828;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
      }

      .primaryText {
        color: #475467;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      overflow-y: auto;

      .typeContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .text {
          display: flex;
          gap: 2px;
          color: #344054;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;

          sup {
            color: #7f56d9;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }
        }

        .secondaryText {
          color: #667085;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }

        .input {
          width: 100%;
          padding: 8px;
          border-radius: 8px;
          border: 1px solid #d0d5dd;
          background-color: #fff;
          outline: none;
          box-shadow: 0px 1px 2px 0px
            var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* For Firefox */
        input[type="number"] {
          -moz-appearance: textfield;

          overflow: hidden;
          color: #667085;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          background: #fff;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }

        input[type="date"] {
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
          color: #333;
        }

        .textarea {
          width: 100% !important;
          border-radius: 8px;
          border: 1px solid #d0d5dd;
          background: #fff;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          padding: 12px;
          resize: none;
          outline: none;
          height: 128px;
          overflow-y: auto;
        }
      }

      .checkboxContainer {
        display: flex;
        gap: 8px;
        padding-bottom: 10px;
        input[type="checkbox"] {
          cursor: pointer;
          border-radius: 4px;

          &:checked {
            background-color: #7f56d9;
          }
        }
      }

      .radio {
        display: flex;
        flex-direction: column;

        div {
          display: flex !important;
          flex-direction: column !important;
          gap: 16px;
        }

        .radioContainer {
          display: flex;
          flex-direction: column;
          gap: 2px;
          .text {
            color: #344054;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }

          .secondary {
            color: #475467;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }

      .customerTaxDetails {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 12px;
        border: 1px solid #e4e7ec;
        background: #f9fafb;
        width: 582px;
        padding: 24px;

        .customerHeader {
          color: #101828;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .secondaryContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 12px;
        border: 1px solid #e4e7ec;
        background: #f9fafb;
        width: 582px;
        padding: 24px;

        .headerText {
          display: flex;
          gap: 2px;
          color: #344054;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;

          sup {
            color: #7f56d9;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
    }
  }

  .bottomContainer {
    background-color: #fff;
    border-top: 1px solid #e4e7ec;
    padding: 16px 24px;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}

.uploadIconContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;

  .uploadIcon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #e4e7ec;
    background: #fff;
    box-shadow:
      0px 0px 0px 1px rgba(16, 24, 40, 0.18) inset,
      0px -2px 0px 0px rgba(16, 24, 40, 0.05) inset,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

.uploadText {
  display: flex;
  justify-content: center;
  gap: 4px;
  color: #475467;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  p {
    color: #6941c6;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}

.uploadSubtext {
  color: #475467;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.allowance {
  padding: 16px;
  border-radius: 8px;
  background: #f4f3ff;
  color: #7f56d9;
  font-size: 16px;
  line-height: 24px;
  .allowanceType {
    font-weight: 700;
  }

  .allowanceText {
    font-weight: 400;
  }
}

.twoSections {
  display: flex;
  gap: 16px;
  position: relative;
  min-height: 92px;

  .section {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .timeText {
      color: #344054;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .totalText {
    position: absolute;
    bottom: 0;
    color: #344054;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
