* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif !important;
}
.App {
  display: flex;
  font-family: "Inter", sans-serif !important;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  // min-height: 100vh;
  // overflow-y: scroll;
}

/* For ultra wide screens */
@media (min-width: 1800px) {
  .container {
    max-width: 1560px;
  }
}

/* For very large screens */
@media (min-width: 1600px) and (max-width: 1799px) {
  .container {
    max-width: 1440px;
  }
}

/* For extra large screens */
@media (min-width: 1400px) and (max-width: 1599px) {
  .container {
    max-width: 1320px;
  }
}

/* For large screens */
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}

/* For medium screens */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

/* For small screens */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* For extra small screens */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.custom-upload {
  font-family: "Inter", sans-serif;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 1rem;

  div {
    border: none !important;
    .ant-upload-btn {
      padding: 0;
    }
  }
}

.ant-upload-btn {
  border: 1px solid #e4e7ec;
}
.flex {
  display: flex;
}
.ant-table-footer {
  background-color: #fff !important;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff !important;
}

.custom-pagination .ant-pagination-prev {
  margin-right: auto;
}

.custom-pagination .ant-pagination-next {
  margin-left: auto;
}

.ant-table-row {
  cursor: pointer;
}

.custom-header {
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.custom-row {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.custom-driver-header {
  text-transform: capitalize;
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.custom-column {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

th {
  color: #475467 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  padding: 12px !important;
}

.primary-btn {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  gap: 4px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  background: #7f56d9 !important;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  height: 40px;

  &:hover {
    background: #6941c6 !important;
  }
}

.ant-dropdown-menu {
  border-radius: var(--radius-md, 8px);
  border: 1px solid #e4e7ec;
  background: #fff;
  &:hover {
    background-color: none;
  }
}

.action-column {
  padding: 16px;
  width: 108px !important;
}

.status-column {
  width: 108px !important;
  padding: 16px 24px !important;
}

.custom-search {
  min-width: 400px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 6px;

  .ant-input-prefix {
    position: relative;
    top: 1px;
    left: 2px;
    margin-inline-end: 0;
  }

  .inputContainer {
    font-size: 16px;
    height: 24px;
    width: 100%;
    outline: none;
    border: none;

    &::placeholder {
      overflow: hidden;
      color: #667085;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.ant-form-item {
  margin-bottom: 0;
}

// .ant-form-item-required {
//   &::before {
//     display: none !important;
//   }
// }
.ant-space-item {
  span {
    color: #7f56d9 !important;
  }
}

.ant-space-gap-col-small {
  column-gap: 2px;
}

.ant-input-outlined[disabled] {
  color: rgba(0, 0, 0, 1);
}

.custom-input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Styling the indeterminate state of the checkbox */
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #7f56d9; /* Custom background color for indeterminate state */
  border-color: #7f56d9; /* Custom border color */
}

/* Optionally, change the check mark (the small dash) color */
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #fff; /* Customize the indeterminate dash color */
  height: 2px;
}

.available-header {
  padding: 16px 24px !important;
  min-width: 188px !important;
}

.available-date {
  padding: 10px 0;
  min-width: 156px;
  max-width: 156px;
}

input {
  font-family: "Inter", sans-serif !important;
}

textarea {
  font-family: "Inter", sans-serif !important;
}

.ant-select {
  font-family: "Inter", sans-serif !important;
}

.ant-select-selection-item {
  font-family: "Inter", sans-serif !important;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  border-color: #fda29b !important;
}

.ant-form-item-explain-error {
  color: #d92d20 !important;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.ant-notification-notice-wrapper {
  .ant-notification-notice {
    padding: 16px !important;
  }
}

.ant-notification-notice-message {
  color: #101828;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.ant-notification-notice-description {
  color: #344054;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

button {
  font-family: "Inter", sans-serif !important;
}

.rate {
  .text {
    color: #101828;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .perDay {
    color: #475467;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

input {
  font-size: 14px;
  height: 40px;
}

.ant-select-single {
  height: 40px;
}

.ant-picker {
  min-height: 40px !important;
}
