* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
.App {
  display: flex;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  // min-height: 100vh;
  // overflow-y: scroll;
}

/* For ultra wide screens */
@media (min-width: 1800px) {
  .container {
    max-width: 1560px;
  }
}

/* For very large screens */
@media (min-width: 1600px) and (max-width: 1799px) {
  .container {
    max-width: 1440px;
  }
}

/* For extra large screens */
@media (min-width: 1400px) and (max-width: 1599px) {
  .container {
    max-width: 1320px;
  }
}

/* For large screens */
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}

/* For medium screens */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

/* For small screens */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* For extra small screens */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.custom-upload {
  font-family: "Inter", sans-serif;
  border-radius: 12px;
  border: 1px solid #e4e7ec;
  background: #fff;
  margin-bottom: 1rem;

  div {
    border: none !important;
    .ant-upload-btn {
      padding: 0;
    }
  }
}
.flex {
  display: flex;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-pagination .ant-pagination-prev {
  margin-right: auto;
}

.custom-pagination .ant-pagination-next {
  margin-left: auto;
}

.ant-table-row {
  cursor: pointer;
}

.custom-header {
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.custom-column {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

th {
  color: #475467 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  padding: 12px !important;
}

.primary-btn {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  gap: 4px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  background: #7f56d9 !important;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  height: 40px;

  &:hover {
    background: #6941c6 !important;
  }
}

.ant-dropdown-menu {
  border-radius: var(--radius-md, 8px);
  border: 1px solid #e4e7ec;
  background: #fff;
  &:hover {
    background-color: none;
  }
}

.action-column {
  padding: 16px;
  width: 108px !important;
}
