@mixin display-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
