.mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-top: 28px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 24px;
    min-width: 600px;
    min-height: 650px;
    border-radius: 12px;
    border: 1px solid #e4e7ec;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    .heading {
      display: flex;
      justify-content: space-between;

      .header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        &_1 {
          color: #101828;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
        }

        &_2 {
          color: #475467;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }

    .customerContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 12px;
      border: 1px solid #e4e7ec;
      background: #f9fafb;
      padding: 24px;

      .customerHeading {
        color: #101828;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .invoicesContainer1 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 12px;
      // border: 1px solid #e4e7ec;
      // background: #f9fafb;
      padding: 24px;
    }
    .invoicesContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 12px;
      border: 1px solid #e4e7ec;
      background: #f9fafb;
      padding: 24px;
      .invoicNo {
        color: #344054;
        font-weight: 400;
      }
      .invoicDate {
        color: #667085;
        font-size: 14px;
        font-weight: 300;
      }

      .invoiceHeading {
        color: #101828;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }

      .invoice {
        display: flex;
        gap: 12px;

        .invoiceNumber {
          width: 100%;
          // height: 100px;
          border-radius: 12px;
          border: 1px solid #e4e7ec;
          background: #fff;
          display: flex;
          justify-content: space-between;
          padding: 12px;
          .primary {
            color: #344054;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }

          .secondary {
            color: #344054;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }
    }

    .bookingsContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 12px;
      border: 1px solid #e4e7ec;
      background: #f9fafb;
      padding: 24px;

      .bookingHeading {
        color: #101828;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .taxesContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 12px;
      border: 1px solid #e4e7ec;
      background: #f9fafb;
      padding: 24px;

      .taxesHeading {
        color: #101828;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .discountContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 12px;
      border: 1px solid #e4e7ec;
      background: #f9fafb;
      padding: 24px;

      .discountHeading {
        color: #101828;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;

  .typeContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .textarea {
      width: 100% !important;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: 12px;
      resize: none;
      outline: none;
      height: 128px !important;
      overflow-y: auto;
    }
  }
}
