@import "../../styles/index.scss";
.container {
  position: relative;

  .headingContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: sticky;
    top: 0px;
    padding: 2.5rem 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #e4e7ec;
    z-index: 99;
    background-color: white;

    .heading {
      color: $primary;
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
    }

    .text {
      color: #475467;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .btnContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .headerBtns {
    display: flex;
    gap: 4px;
    margin-top: 18px;
  }
}

.tableContainer {
  padding: 0 30px 40px 30px;
  margin-top: 28px;
  
  .tableHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e7ec;

    .headerText {
      display: flex;
      flex-direction: column;

      .headerPrimary {
        color: #101828;
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
      }

      .headerSecondary {
        color: #667085;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .searchContainer {
      display: flex;
      gap: 16px;
      align-items: center;
      cursor: pointer;

      .search {
        display: flex;
        align-items: center;
        height: 44px;
        width: 400px;
      }
    }
  }
}

.headerBtn {
  padding: 8px 12px;
  height: 40px;
  border-radius: 6px;
  background: #fff;
  color: #344054;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: none;
  border: none;
  cursor: pointer;

  &.selected {
    color: #6941c6;
    background: #f9f5ff;
  }
}
