.form {
  .BookedByCardContainer {
    margin: 1rem 0rem;
    background-color: #f9fafb;
  }
  .PassengerCardContainer {
    margin: 1rem 0rem;

    background-color: #f9fafb;
    .PassengerCard {
      position: relative;
      margin: 1rem 0rem;
      .deletePassengerButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: red;
      }
    }
    .addPassengerButton {
      color: #7f56d9;
    }
  }
  .bookingType {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .item {
      width: 50%;
      border: 1px solid #e4e7ec;
      padding: 0.875rem;
      border-radius: 0.5rem;
      margin: 0;
      align-items: flex-start;
    }
  }

  .durationDetailsCard {
    margin: 1rem 0rem;
    background: #f9fafb;
  }
  .pricingDetailsCard {
    margin: 1rem 0rem;
    background: #f9fafb;
    .pricingDetails {
      display: flex;
      justify-content: space-between;
      align-items: center;

      b {
        font-weight: bold;
      }

      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #7f56d9;
      }
    }
  }
}
.drawerFooter {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  // gap: 10px; // Adds space between the buttons
  position: sticky;
  bottom: -10px;
  background-color: white;
  border: 1px solid gray;
  // padding: 1rem;
}
