.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 4px;
  height: 40px;
  min-width: 145px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  background: #7f56d9;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}
